@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --text-1: white;
  --text-2: black;

  --bg-1: #2c2d35;
  --bg-2: #e5e5e5;
}

.admin {
  background: var(--bg-2);
  min-height: 100vh;
  font-family: "Manrope", sans-serif !important;
}

.color-scheme-1 {
  color: #8c8a98;
  background: white;
}

@media only screen and (max-width: 767px) {
  .mobile-side-margins {
    margin-left: 4.266vw;
    margin-right: 4.266vw;
  }

  .desktop-only {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-side-margins {
    margin: 0;
  }

  .mobile-only {
    display: none !important;
  }
}
